{% extends 'base.html' %}

{% block container %}
<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
             <li><i class="fa fa-home"></i><a href="index.html"> Home</a></li>
             <li class="active">Password Change</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="main-header clearfix">
        <div class="alert alert-success">
            <strong>Password change successful !</strong> &nbsp;&nbsp;&nbsp;Your password was changed.
        </div>
    </div><!-- /main-header -->
</div><!-- /main-container -->
{% endblock %}

{% block footer_content %}
	<!-- Flot -->
	<script src='/static/template/js/jquery.flot.min.js'></script>

	<!-- Morris -->
	<script src='/static/template/js/rapheal.min.js'></script>
	<script src='/static/template/js/morris.min.js'></script>

	<!-- Colorbox -->
	<script src='/static/template/js/jquery.colorbox.min.js'></script>

	<!-- Sparkline -->
	<script src='/static/template/js/jquery.sparkline.min.js'></script>

	<!-- Pace -->
	<script src='/static/template/js/uncompressed/pace.js'></script>


	<!-- Slimscroll -->
	<script src='/static/template/js/jquery.slimscroll.min.js'></script>

    <!-- Endless -->
{#    <script src="/static/template/js/endless/endless_dashboard.js"></script>#}
{% endblock %}