
body{background: url(/static/img/login_bg.jpg) 0 -200px no-repeat #000;
background-size: cover;margin:0; color:#FFF}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
a{-webkit-transition: All 1s ease;text-decoration: none;
	color: #dfc684;}
input , button{border:0;background:none;color: #dfc684;}
#login-box{position:absolute; width:500px; left:30%; top:29%;}
.login-box-wh{height:53px;width:800px;margin-bottom:16px;}
.to-index{padding-left:16px;overflow:hidden; position:absolute;left:69px;}
.to-index-m{width:360px; height:53px;	margin-top:-53px;margin-left:-16px;position:absolute;z-index:-1;background:yellow;transition:margin 0.8s;-moz-transition:margin 0.8s; -webkit-transition:margin 0.8s 0.3s; }
.login-box-wh:hover .to-index-m{margin-top:0;}
.login-box-wh:hover a{color:#f00}
.box-mov{width: 53px;height: 53px;float: left; display: inline-block;opacity: .72;filter: alpha(opacity=72);background: url(/static/img/icons.png) -212px 0 #000; margin-right: 16px;position: relative;overflow:hidden;z-index:0;}
.box-mov-s{width: 53px;height: 53px;z-index:1;position:absolute;background:#ff0;margin-left:-53px;
background:yellow;
transition:margin 0.8s;-moz-transition:margin 0.8s; -webkit-transition:margin 0.8s; }
.login-box-wh:hover .box-mov-s{margin:0;}
.box-mov-d{width: 53px;height: 53px;z-index:2;position:absolute;background:url(/static/img/icons.png) -212px -53px;);opacity:0; }
.login-box-wh:hover .box-mov-d {opacity:1;}
.text-box{width:360px; height:53px;background:#000;opacity: .72; float:left;line-height:53px;}
#vdcode{width:270px;}
.text-box-login{}
.text-box-login-btn{width:360px; height:53px;background:#000;opacity: .72; float:left;line-height:53px;-webkit-box-sizing:border-box; position:absolute;left:69px;overflow:hidden; }
.login-btn-m{width:360px; height:53px;margin-top:-53px; position:absolute;z-index:1;background:yellow;transition:margin 0.8s;-moz-transition:margin 0.8s; -webkit-transition:margin 0.8s 0.3s;}
.text-box-login:hover .login-btn-m{margin-top:0}
.login-btn{width:100%;height:100%; cursor:pointer;font-size:16px;position:absolute;z-index:5;transition: 0.8s;-moz-transition: 0.8s; -webkit-transition: 0.8s 0.3s;}
.login-btn:hover{color:#f00;}
 input{height:100%;width:100%;padding:8px 0 8px 8px;background:none;color:#fff;}
input:focus {
    outline:none;
}